body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 0 40px 0 #dbdbdb;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 169px;
  height: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation .left {
 padding-left:72px;
 text-align:left
}

.site-navigation .right {
 text-align:right;
 padding-right:72px
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

.site-navigation-current a {
  color: #766357;
}

.logo {
  width: 140px;
  height: 72px;

  position: absolute;
  margin: 0 530px;
}

.promo {
  text-align: center;
  line-height: 26px;
}

.promo h2 {
  font-size: 21px;
  background-color: #ffffff;
  display: block;
  width: 500px;
  margin: auto;
}

.promo p {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding-top: 13px;
}

.cover {
  background-color: #81b3d2;
  background: url(../img/polygon.svg) no-repeat bottom,url(../img/background-photo.jpg) no-repeat 50% 28%;
  padding: 78px 0;
  margin-bottom: 60px;
}

.cover img {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-list,
.advantages-list2 {

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;

  /* Временно для сетки */
  min-height: 256px;
}

.advantages-list2 .advantages-item {
  background-color: #eeeeee;
  padding-bottom: 50px;
}

.advantages-list2 .block {
  padding-top: 25px;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  height: 275x;

  padding-bottom: 70px;
  text-align: center;

  background-color: #ffffff;
}

.block {
  margin: 0 auto;
  width: 295px;
}

.block span {
  display: block;
  margin-top: 24px;
  margin-bottom: 20px;
}

.icon {
  width: 76px;
  height: 76px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
}

.icon-1 {
  background-image: url(../img/icon-1.svg);
}

.icon-2 {
  background-image: url(../img/icon-3.svg);
}

.icon-3 {
  background-image: url(../img/icon-2.svg);
}

.wrapper-first,
.wrapper-second {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;

  display: flex;
}

.wrapper-second {
  flex-direction: row-reverse;

}

.wrapper-first .advantages-title,
.wrapper-second .advantages-title {
  width: 400px;
  padding: 25px 50px;
  box-sizing: border-box;
}

.wrapper-second .advantages-title {
  padding:25px 45px;
}

.advantages-photo-right {
  width: 800px;
  height: 256px;

  background: rgb(96, 90, 66) url("../img/town_real.jpg");
}

.advantages-photo-left {
  width: 800px;
  height: 256px;

  background: rgb(96, 90, 66) url("../img/bridge_devil.jpg");
}

.advantages-title h3 {
  font-size: 21px;
  padding-left: 50px;
  padding-right: 50px;
}

.advantages-title p {
  font-weight: 400;
  padding-top: 10px;
}

.advantages-item h3 {
  font-size: 21px;
  padding-left: 70px;
  padding-right: 70px;
}

.advantages-item p {
  font-weight: 400;
  color: #333333;
  padding-left: 10px;
  padding-right: 10px;
}

.search-hotels {
  position: relative;
  text-align: center;
  line-height: 24px;
  padding-top: 45px;
}

.search-hotels b {
  font-size: 30px;
  line-height: 36px;
  display: block;
  margin-bottom: 26px;
}

.search-hotels p {
  margin-top: 20px;
  margin-bottom: 46px;
}

.btn-search-hotel {
  display: inline-block;
  margin: 0 auto;
  width: 510px;
  padding: 30px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  text-decoration: none;
  background-color: #766357;
}

.btn-search-hotel:hover {
  background-color: #604e43;
}

.btn-search-hotel:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.search-item {
  font: inherit;
  line-height: 26px;
}

.search-item input {
  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;;
}

.search-item input:focus {
  background-color: #ffffff;
}

.modal-window {
  display: none;
  position: absolute;
  top: 200px;
  left: 315px;
  width: 460px;
  padding: 55px 55px 55px;
  margin-top: 85px;

  color: #000;
  font-weight: 700;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,.1);
}

.modal-window-show {
  display: block;
}

.modal-window input {
  height: 35px;
  padding: 0 15px;
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-window input:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
}

.modal-window input[type="number"]:focus,
.modal-window input[type="text"]:focus {
  background-color: #fff;
  border: solid 2px #e5e5e5;
}

.checkin input,
.checkout input {
  width: 312px;
  margin-bottom: 30px;
}

.modal-window input[type="number"] {
  width: 83px;
  margin-bottom: 55px;
}

.modal-window label[for="children"] {
  width: 78px;
  text-align: right;
  padding-right: 25px;
}

.wrap-adult input,
.wrap-child input {
  width: 15px;
  text-align: center;
  spadding-right: 25px;
}

.minus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
}

.hline {
  position: absolute;
  top: 16px;
  left: 13px;
  width: 11px;
  height: 3px;
  content: "";
  background-color: #666666;
}

.plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
}
.vline {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 3px;
  height: 11px;
  content: "";
  background-color: #666666;
}

.modal-window label {
  display: inline-block;
  width: 110px;
}

.modal-window input[type="submit"] {
  width: 460px;
  height: 58px;
  background: #8dbad6;
  font-size: 21px;
  line-height: 26px;
}

.modal-window input[type="submit"]:hover {
  background-color: #669ec0;
}

.modal-window input[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.icon-calendar {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 21px;
  height: 22px;
  vertical-align: middle;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-color: var(--very-light-pink-two);
}

.icon-calendar:active {
  background-color: #81b3d2;
}

.main-footer {
  position: relative;
  margin: 0;
  margin-top: -125px;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.footer-hashtag {
  margin-left: 15px;
}

.footer-social ul {
  list-style: none;
}

.main-footer a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 40px;
}

.social-list a {
  display: block;
}

.footer-social a {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: url(../img/fb-icon.svg) no-repeat center;
  background-color: #81b3d2;
}

.footer-social a:nth-child(2) {
  background: url(../img/twitter.svg) no-repeat center;
  background-color: #81b3d2;
  margin-left: 6px;
  margin-right: 6px;
}

.footer-social a:nth-child(3) {
  background: url(../img/youtube.svg) no-repeat center;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-copyright p {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.footer-copyright img {
  display: inline-block;
  vertical-align: middle;
}

.checkin,
.checkout {
  position: relative;
}

/*catalog.html*/

.filter-form legend {
  color: #ffffff;
  font-size: 16px;
  /*background-color: #81b3d2;*/
}

.filter-form ul,
.search-result ul {
  list-style: none;
  padding: 0;
}

.filter-form fieldset {
  border: none;
}

.text-options {
  color: #ffffff;
  /*background-color: #81b3d2;*/
  font-weight: 400;
}

.search-title {
  font-size: 21px;
  line-height: 26px;
}

.search-sort {
  font-size: 12px;
  line-height: 18px;
}

.search-setting {
  list-style: none;
  font-size: 12px;
}

.search-setting a {
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.search-setting .search-active {
  color: #81b3d2;
}

.search-setting a:hover {
  color: #81b3d2;
}

.search-setting a:focus {
  color: #000000;
}

.hotel-info a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-info a:hover {
  color: #81b3d2;
}

.hotel-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info span {
  color: #333333;
}

a.btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #ffffff;
}

a.btn:hover {
  color: #ffffff;
  background-color: #669ec0;
}

a.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.more {
  background-color: #81b3d2;
}

.rating {
  margin-left: auto;
  width: 110px;
}

.rating p {
  color: #666666;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

.search-options {
  background: #4b769e url("../img/filter-background.jpg") no-repeat 50% 20%;
  height: 217px;
}

.filter-form {
  display: flex;
  width: auto;
  height: 190px;
  padding-top: 31px;
  padding-left: 72px;
  padding-right: 74px;

  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-result {
  display: flex;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #f2f2f2;
}

.search-title {
  margin-left: 70px;
}

.search-sort {
  margin-left: 50px;
}

.search-setting {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.search-setting li {
  margin-left: 33px;
}

.result {
  margin-bottom: 120px;
}

.arrows {
  display: flex;
}

.icon-up, .icon-down {
  color: rgba(0, 0, 0, 0.3);
}

.icon-up::before {
  content: "\25b2";
}

.icon-down::before {
  content: "\25bc";
}

.icon-active {
  color: #81b3d2;
}

.up-arrow a:hover {
  color: #81b3d2;
  color: red;
}

.arrows a:focus {
  color: #000000;
}

.hotel-item {
  display: flex;
  padding: 30px 70px;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-info {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 750px;
  min-height: 90px;
}

.hotel-info h2 {
  margin: 0;
  padding: 0 0 8px;
}

.hotel-info span {
  display: inline-block;
  font-weight: 400;
  min-width: 115px;
  padding-bottom: 12px;
}

.more, .booking {
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #8dbad6;
  border: none;
  outline: none;
  cursor: pointer;
}

a.more {
  margin-right: 5px;
}

button.booking {
  background-color: #766357;
  width: 142px;
  font-weight: 700;
}

.stars {
  text-align: right;
  margin-bottom: 40px;
}

.star {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  msargin-bottom: 19px;
  background-image: url('../img/star.svg');
}
